* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: auto;
}

header {
    height: 150px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

nav {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

li {
    width: 100%;
    font-size: 120%;
    display: flex;
    justify-content: space-between;
}

ul,
a {
    text-decoration: none;
    color: black;
}

main {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.Container-Banner {
    display: flex;
    width: 100%;
    height: 300px;
    background-color: black;
}

img {
    width: 100%;
}

.Container-Categorias {
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Bloco-categoria {
    width: 400px;
    height: 300px;
    background-color: chartreuse;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120%;
    border-radius: 5px;
    margin: 5px;
}

.coisa {

    height: 1000px;
}




footer {
    height: 150px;
    background-color: brown;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:600px) {

    .Bloco-categoria {
        width: 200px;
        height: 150px;
        font-size: 100%;
    }


}